@import "tailwindcss";

.modal {
  @apply fixed inset-0 bg-black/40 flex justify-center items-center z-20;
}

.modal-wrapper {
  @apply flex flex-col bg-white p-6 rounded-lg shadow-2xl w-80 max-w-[90vw] max-h-[80vh] overflow-y-auto relative;
}

.modal-header {
  @apply flex-none flex justify-between items-center border-b border-gray-300 pb-2 mb-3;
}

.modal-title {
  @apply text-xl font-semibold flex-1 pr-2 -mt-0.5;
}

.modal-close {
  @apply flex-none text-2xl mb-1 cursor-pointer leading-none hover:text-gray-600 transition-colors;
}

.modal-content {
  @apply flex-1 space-y-2 overflow-y-auto mb-4;
}

.modal-content p {
  @apply text-sm break-keep;
}

.modal-content-link {
  @apply text-sm text-rose-500 font-bold hover:underline;
}

.modal-footer {
  @apply flex-none;
}
