@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  @apply w-full h-full overflow-hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "pretendard", Helvetica, sans-serif;
}

.main {
  @apply flex flex-col-reverse overflow-hidden w-full h-full sm:flex-row;
}

.main.log {
  @apply items-center justify-center text-center;
}

.main.log p {
  @apply text-lg font-semibold;
}

.main.log span {
  @apply text-sm text-gray-500 mt-2;
}
